/*
    Add some transparency to storylink navs
    Try to extend storylink navs to fill container
    For tag girdle, leave position static so disappears on scroll
    Make genre colorized
*/

/* Color Palette

$cadet-grey: rgba(141, 161, 185, 1);
$pewter-blue: rgba(149, 173, 182, 1);
$thistle: rgba(203, 179, 191, 1);
$champagne-pink: rgba(219, 199, 190, 1);
$salmon-pink: rgba(239, 149, 156, 1);

*/

/*//////////////////////// Page ////*/

/* .root-container {
    background-color: white;
    width: fit-content;
    margin: auto;
    transition: width 3s;
} */

.app-layout {
    display: flex;
    flex-direction: row;
    font-family: Optima, Helvetica;
    font-size: 25px;
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
}

body {
    /* background-color: rgb(157, 177, 202); */
    background-color: rgb(197, 213, 238);
    padding: 0;
    margin: 0;
    font-size: 18px;

}

.site-title {
    font-family: Arial;
    font-weight: 800;
    font-size: 2.2em;
    /* color: rgb(78, 78, 78); */
    /* color: rgb(139, 139, 150); */
    /* color: rgb(177, 196, 219); */
    /* color: rgb(177, 196, 229); */
    color: rgb(160, 180, 229);
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0 0 0 0;
    /* text-shadow: 3px 4px 4px rgba(172, 172, 172, 0.3); */
    /* text-shadow: -1px -1px 0 rgb(153, 153, 153); */

    /* font-family: arial;
    -webkit-text-stroke: 2px rgb(162, 179, 199);
    color: white; */
}

/* .site-title-me {
    color: white;
    font-family: arial;
} */

.blur-element {
    background-image: linear-gradient(to top, transparent, white);
    top: 65px;
    position: sticky;
    position: -webkit-sticky;
    height: 25px;
    /* color: rgb(177,196,219); */
    color: white;
}

div[disabled] svg {
    color: #d2d2d2;
}

/*//////////////////////// Header ////*/

.h-container {
    background-color: white;
    /* width: 960px;
    min-width: 700px; */
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 100%;
}

.h-content-container {
    max-width: 960px;
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.h-content-container button {
    border-style: none;
    font-size: .9em;
    border-radius: none;
    font-family: arial;
    padding: 4px 3px;
    background-color: white;
}

/* .h-title {
    flex-grow: 1;
} */

.h-searchbar {
    flex-grow: 1;
    flex-basis: 100%;
}

.h-btns {
    display: flex;
    margin: 0 10px;
}

.h-btns button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.h-logout-btn {
    margin: 0 5px;
    background-color: rgb(236,231,255);
}

.h-content-container svg {
    width: 1.5em;
    height: 1.5em;
}

.h-writenew-btn {
    margin: 0 5px;
    background-color: rgb(236,231,255);
}

/*//////////////////////// SearchBar ////*/

.sbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    top: 3px;
    right: 30px;
    height: 1.7em;
}

.sbar-container button {
    background-color: white;
    box-sizing: border-box;
    border-style: none;
    border-radius: 0;
    font-size: 1.2em;
    font-family: arial;
    border: 1px solid black;
    padding: 2px 6px;
    height: 100%;

}

.sbar-input {
    line-height: 100%;
    font-size: 1.2em;
    min-width: 100%;
    padding: 1px 2px;
    font-family: arial;
}

/*//////////////////////// TagBar ////*/

.tb-container {
    /* width: 960px; */
    background-color: rgb(255, 255, 255, 0.7);
}

.tb-content-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 960px;
    width: fit-content;
    margin: 0 auto 10px;
    font-size: .9em;
}

.tb-content-container button {
    font-family: arial;
    padding: 3px 10px;
    margin: 0 5px;

    /* border-width: 2px;
    border-style: outset; */
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    background-color: white;
}

.tb-content-container button:hover {
    /* background-color: rgb(223, 175, 255); */
    color: black;
    /* background-color: rgb(222, 214, 252); */
    background-color: rgb(236, 231, 255);
    border: none;
    /* background-color: #51a88b; */
    /* background-color: #551a8b; */
}

/*//////////////////////// LoginPanel ////*/

.lp-container {
    background-color: white;
    color: black;
    margin: 10px auto;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
}

/* .lp-container div:last-child {
    border-top: 1px solid black;
    padding: 20px;
} */

.lp-container-form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    /* align-items: center; */
}

.lp-container-form input, button {
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    /* background-color: rgb(236, 231, 255); */
    /* align-items: center; */
}

.lp-container-form input {
    color: grey;
}

.lp-container-form input:focus {
    color: black;
}

.lp-container-form button:hover {
    cursor: pointer;
    background-color: rgb(236, 231, 255);
}

.lp-container h2 {
    /* padding-bottom: 20px; */
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    margin: 10px 0px;
    color: black;
    /* align-items: center; */
}

/*//////////////////////// Navbar ////*/

.nb-container-layout {
    position: sticky;
    position: -webkit-sticky;
    top: 75px;
}

.nb-container h2 {
    font-size: .5em;
    font-family: Arial;
    color: rgb(90, 90, 90);
    font-weight: 600;
    padding: 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    min-width: 200px;
    position: relative;
    left: 3px;
}

.nb-container {
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0 10px 10px 0;
    height: fit-content;

}

.nb-container a {
    text-decoration: none;
    color: #551a8b;
    /* border-bottom: 1px solid rgb(70, 70, 70); */
}

.nb-container a:hover {
    text-decoration: underline;
    border-bottom: 1px solid black;
}

/* .nb-container h2 {
    font-size: 1em;
    font-family: Helvetica;
    font-weight: 400;
} */

.nb-container h3 {
    font-size: .8em;
    font-family: Georgia;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.nb-showall-btn {
    background-color: white;
    border: none;
    font-size: .5em;
    cursor: pointer;
}

.nb-showall-btn:hover {
    text-decoration: underline;
}

.nb-story-readstatus {
    font-size: .5em;
    margin: 0;
    padding: 0;
}

.nb-writenew-btn {
    font-size: .8em;
}

.nb-writenew-btn:hover {
    font-size: .8em;
    /* background-color: rgb(185, 108, 185); */
    /* background-color: #51a88b; */
    background-color: #551a8b;
    color: white;
}

/*//////////////////////// Story Browser ////*/

.sb-page-layout {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.sb-story-navcontainer {
    margin: 0 0 10px;
    padding: 10px 10px;
    width: 650px;
    background-color: white;
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    transition: background-color .6s;
}

.sb-story-navcontainer:hover {
    background-color: rgb(236, 231, 255);
}

.sb-story-navcontainer svg {
    cursor: pointer;
}

.sb-story-navlink {
    width: auto;
    color: black;
    text-decoration: none;
}

.sb-story-title {
    padding-bottom: 0;
    margin-bottom: 0;
}

.sb-story-title:hover {
    color: #551a8b;
    text-decoration: underline;
}

.sb-story-navlink p {
    display: inline;
    margin: 0;

}

.sb-story-rating {
    display: block;
    align-self: right;
    z-index: 1;
}

.sb-searchresult {
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: .8em;
    color: #606066;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.sb-searchresult svg {
    align-self: center;
    margin-right: 2px;
    cursor: pointer;
}

.sb-searchresult svg:hover {
    color: black;
}

.sb-rating-container-story {
    align-self: end;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-right: 2px;
}

.sb-rating-container-post {
    align-self: center;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-right: 2px;
}

.sb-vote-icon svg {
    height: .7em;
    color: #a0b4e5;
}

.sb-rating-container-story span {
    font-size: .5em;
    margin: 0;
    text-align: center;
    color: rgb(121, 121, 121);
}

.sb-rating-container-post span {
    font-size: .5em;
    margin: 0;
    text-align: center;
    color: rgb(121, 121, 121);
}

.sb-details-contributors p {
    margin-top: 0;
}

.sb-contributors-text {
    margin-top: 0;
    padding-top: 0;
    font-size: .65em;
    color: rgb(124, 124, 124);
    position: relative;
    bottom: 5px;
}

.sb-details-genre-syn {
    display: flex;
    align-items: center;
}

.sb-story-title {
    font-size: .85em;
    font-weight: 600;
}

.sb-genre-text {
    font-size: .5em;
    font-weight: 600;
}

.sb-author-text {
    font-size: .9em;

}
.sb-contributors-text {
    font-size: .65em
}

.sb-synopsis-text {
    font-size: .7em;
}


/*//////////////////////// StoryView ////*/

.sv-post {
    padding: 0 20px 15px;
    margin-top: 15px;
}

.sv-post h3 {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.sv-post-statustext {
    color: grey;
}

.sv-rejected-btn {
    font-size: .7em;
    appearance: none;
    border: none;
    margin: 17px auto 0;
}

.sv-container {
    margin-top: 10px;
    width: 100%;
}

.sv-title-container h3 {
    font-size: .9em;
    margin-top: 3px;
}

.sv-title-container h2, h3 {
    font-family: Georgia;
    padding: 0;
    margin: 0;
}

.sv-title-container {
    margin: 0 0 10px 20px;
}

.sv-post-unconfirmed {
    padding-top: 25px;
    background-color: rgb(255, 255, 255, .6);
}

.sv-post-newlyconfirmed {
    padding-top: 25px;
    background-color: white;
}

.sv-post-confirmed {
    background-color: white;
}

.sv-post-rejected {
    padding-top: 25px;
    background-color: rgb(255, 181, 181);
}

.sv-post-hidden {
    visibility: hidden;
    position: absolute;
}

.sv-rating-container {
    display: flex;
    justify-content: flex-end;
}

.sv-rating-container span {
    margin: 0 3px;
    font-size: .7em;
    color: rgb(109, 109, 109);
    align-self: center;
}

.sv-rating-container button {
    font-size: .7em;
    margin: 0 5px;
    appearance: none;
    border: none;
}

.sv-pagenums {
    display: flex;
    justify-content: center;
}

.sv-writenext-btn-container {
    display: flex;
    justify-content: center;
}

.sv-writenext-btn-container a button {
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
}

.sv-page-btn {
    font-size: 1em;
    color: rgb(54, 54, 54);
    border-radius: 5px;
    margin: 0 3px 5px 3px;
    padding: 0 3px;
    background-color: white;
    cursor: pointer;
}

.sv-page-btn-selected {
    font-size: 1em;
    color: rgb(99, 99, 99);
    border-radius: 5px;
    margin: 0 3px 5px 3px;
    padding: 0 3px;
    /* background-color: rgb(228, 228, 228); */
    background-color: rgb(255, 255, 255, .5);
    cursor: auto;
}

.sv-page-btn:hover {
    background-color: rgb(236, 231, 255);
}

/*//////////////////////// StoryEditor ////*/

.se-container div {
    display: flex;
    flex-direction: column;
    width: 760px;
}

.se-body-textarea {
    height: 400px;
}
